# ================================
# Build & Compilation
# ================================
**/build/

# ================================
# ROOT data files
# ================================
micromegas_ana/decodedata/*.root
micromegas_ana/mmdata/*.root

# ================================
# Raw / intermediate data
# ================================
vdecode/data/**
vdecode/result/**
