# ================================
# Build & Compilation
# ================================
**/build/

# ================================
# ROOT data files
# ================================
micromegas_ana/decodedata/*.root
micromegas_ana/mmdata/*.root
!micromegas_ana/decodedata/.gitkeep
!micromegas_ana/mmdata/*.gitkeep

# ================================
# Raw / intermediate data
# ================================
vdecode/data/**
vdecode/result/**
!vdecode/data/.gitkeep
!vdecode/result/.gitkeep
