# ================================
# Build & Compilation
# ================================
**/build/

# ================================
# ROOT data files
# ================================
micromegas_ana/data/decodedata/
micromegas_ana/data/mmdata/
!micromegas_ana/data/decodedata/.gitkeep
!micromegas_ana/data/mmdata/*.gitkeep

# ================================
# Raw / intermediate data
# ================================
vdecode/data*/
vdecode/result/**
!vdecode/data/.gitkeep
!vdecode/result/.gitkeep
